<!--                                                                    -->
<!-- QCoin                                                              -->
<!-- *****                                                              -->
<!--                                                                    -->
<!-- Created by Kevin Thomas 11/16/19.                                  -->
<!-- Modified by Kevin M. Thomas 11/16/19.                              -->
<!-- CC BY                                                              -->
<!--                                                                    -->
<!-- QCoin is the worlds FIRST qapp!  A qapp is a full-stack quantum    -->
<!-- application that interfaces directly with the IBMQ Research HQ at  -->
<!-- the Thomas J. Watson Research Center in the cloud.  QCoin is a     -->
<!-- heads or tails game to which the user chooses either heads or      -->
<!-- tails when the game begins.  The application then connects to a    -->
<!-- REAL IBMQ quantum computer to which it will put qubit 1 into       -->
<!-- superposition and then entangle two qubits and finally measure the -->
<!-- qubits, irrevocably disturbing the superposition state and forcing -->
<!-- a classical 0 or 1 as output to determine the games result.        -->
<!--                                                                    -->


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/ico/favicon.ico">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/app.js"></script>
    <title>QCoin</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img style="max-width:100px" src="/static/images/qcoin-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Play
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br><br><br>
    <div class="container">
      <div class="jumbotron">
        <div id="log">
        </div>
      </div>
    </div>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>